/* Track */
input[type='range']::-webkit-slider-runnable-track {
  background: #f0f0f0;
  height: 8px;
  border-radius: 8px;
}

/* Thumb */
input[type='range']::-webkit-slider-thumb {
  position: relative;
  top: -4px;
}
