@keyframes spinForward {
  from {
    transform: rotateZ(0deg);
    transform-origin: 50px;
  }
  to {
    transform: rotateZ(360deg);
    transform-origin: 50px;
  }
}

@keyframes spinReverse {
  from {
    transform: rotateZ(0deg);
    transform-origin: 50px;
  }
  to {
    transform: rotateZ(-360deg);
    transform-origin: 50px;
  }
}

input.vertical[type='range'] {
  writing-mode: vertical-lr;
  direction: rtl;
  appearance: slider-vertical;
  width: 16px;
  vertical-align: bottom;
}

/* Track */
input[type='range']::-webkit-slider-runnable-track {
  background: #f0f0f0;
  width: 8px;
  border-radius: 8px;
}

/* Thumb */
input[type='range']::-webkit-slider-thumb {
  position: relative;
  left: -4px;
}
